/*!
 * Custom bootstrap styles
 */

body {
      padding-bottom: 20px;
      color: #5a5a5a;
    }
    /* Customize Navbar */
    .navbar-wrapper {
      margin-top: 20px;
    }

p { font-size: 100%; line-height: 1.6em; margin-top: 0.8em; margin-bottom: 0.8em; }
li { line-height: 1.6em; }
h3 { margin-top: 2.5em; }
.codehilite pre{ background-color: #272822; width: 50%; }

/* Styling for Sidebar */
.social a[href*='activestate.com']:before {content: url('./images/icons/activestate.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='atom.xml']:before {content: url('./images/icons/rss.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='bitbucket.org']:before {content: url('./images/icons/bitbucket.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='code.google.com']:before {content: url('./images/icons/phosting.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='delicious.com']:before {content: url('./images/icons/delicious.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='digg.com']:before {content: url('./images/icons/digg.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='facebook.com']:before {content: url('./images/icons/facebook.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='github.com']:before {content: url('./images/icons/github.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='gitorious.org']:before {content: url('./images/icons/gitorious.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='google.com/reader']:before {content: url('./images/icons/reader.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='jamendo.com']:before {content: url('./images/icons/jamendo.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='last.fm']:before {content: url('./images/icons/lastfm.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='linkedin.com']:before {content: url('./images/icons/linkedin.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='rss.xml']:before {content: url('./images/icons/rss.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='stackoverflow.com']:before {content: url('./images/icons/stackoverflow.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='twitter.com']:before {content: url('./images/icons/twitter.png'); margin-right: 2px; vertical-align: -3px;}

/* Styling for the "other entries" section */
/* Metadata */
.well.small { padding: 6px 6px 4px; }

/* Read more button */
.btn-success.xsmall {
    padding: 1px 3px 1px;
    font-size: 11px;
    float: right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Article summary */
.summary { margin-bottom: 4em; }
.summary pre { display: none; }

    .navbar {
      margin-bottom: 10px;
    }

    .navbar-inner, .navbar .btn-navbar {
      background-color: #77a62b;

       /* Gradients for modern browsers, replace as you see fit */
      background-image: -moz-linear-gradient(top, #77a62b, #a6c471);
      background-image: -ms-linear-gradient(top, #77a62b, #a6c471);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#77a62b), to(#a6c471));
      background-image: -webkit-linear-gradient(top, #77a62b, #a6c471);
      background-image: -o-linear-gradient(top, #77a62b, #a6c471);
      background-image: linear-gradient(top, #77a62b, #a6c471);
      background-repeat: repeat-x;

      color: rgba(0,0,0,.5);
    }

    .navbar .divider-vertical {
      background-color: #000;
      border-right: 1px solid #cccccc;
    }

    .navbar .nav .active > a, .navbar .nav .active > a:hover {
      background-color: #a6c471;
      color: #000000;
    }

    .navbar .brand {
      color: #000000;
      font-size: 28px;
      font-weight: 200;
      text-shadow: 0 1px 0 #cccccc;
    }

    .navbar .nav > li > a {
      color: #000000;
      text-shadow: 0 1px 0 #cccccc;
      padding: 15px 20px;
    }

    .navbar .nav > li > a:hover {
      color: #909090;
    }

    .marketing .span12 {
      text-align: center;
      /* background-color: #f6b340; */
    }

    .marketing .span3 {
      margin-top: 10px;
      margin-bottom: 0;
    }

    .marketing .btn {
      margin-bottom: 10px;
      margin-top: 0;
    }

    .marketing a {
      text-decoration: none;
      color: #5a5a5a;
    }

    .marketing a:hover {
      color: #909090;
    }

    .marketing .badge {
        font-size: 18;
        padding: 5px;
    }

    .features .span10 {
      /* background-color: #dddddd; */
      margin-bottom: 10px;
    }

    .features h3 {
      color: #ffffff;
      /* background-color: #e64a1c; */
      background-color: #77a62b;
      text-indent: 10px;
    }

    .socialist {
        padding-top: 10px;
        padding-bottom: 0;
    }

    .socialist a {
        color: #000000;
    }

    .socialist a:hover {
        text-decoration: none;
        color: #909090;
    }

    .footer {
      background-color: #000;
      color: #ffffff;
    }

    .footer .span3 {
      padding-top: 15px;
      padding-bottom: 10px;
      text-align: center;
    }

    .footer a {
      color: #ffffff;
    }

    .footer a:hover {
      text-decoration: none;
    }

    .footer i {
      letter-spacing: 5px;
    }

    .footer .copyright {
        margin: 0;
    }

    .features p {
      padding-bottom: 5px;
    }

    .features a.thumbnail {
      display: block;
      padding: 4px;
      line-height: 20px;
      border: 0 solid #fff;
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;
      -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.055);
         -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.055);
              box-shadow: 0 0 0 rgba(0, 0, 0, 0.055);
      -webkit-transition: all 0.2s ease-in-out;
         -moz-transition: all 0.2s ease-in-out;
           -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
    }

    .features a.thumbnail:hover,
    .features a.thumbnail:focus {
      border-color: #ffffff;
      -webkit-box-shadow: 0 0 0 rgba(0, 105, 214, 0.25);
         -moz-box-shadow: 0 0 0 rgba(0, 105, 214, 0.25);
              box-shadow: 0 0 0 rgba(0, 105, 214, 0.25);
    }

    /* Carousel customization */
    .carousel {
      margin-bottom: 15px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 150px;
      text-shadow: 0 2px 2px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }

    .carousel img {
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
      margin-bottom: 20px;
    }

    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 2px 2px rgba(0,0,0,.4);
    }

    .carousel-caption .btn {
      margin-top: 10px;
    }