/*!
 * Custom bootstrap styles
 */

body {
      padding-bottom: 20px;
      color: #5a5a5a;
    }
    /* Customize Navbar */
    .navbar-wrapper {
      margin-top: 20px;
    }

    .navbar {
      margin-bottom: 10px;
    }

    .navbar-inner, .navbar .btn-navbar {
      background-color: #77a62b;

       /* Gradients for modern browsers, replace as you see fit */
      background-image: -moz-linear-gradient(top, #77a62b, #a6c471);
      background-image: -ms-linear-gradient(top, #77a62b, #a6c471);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#77a62b), to(#a6c471));
      background-image: -webkit-linear-gradient(top, #77a62b, #a6c471);
      background-image: -o-linear-gradient(top, #77a62b, #a6c471);
      background-image: linear-gradient(top, #77a62b, #a6c471);
      background-repeat: repeat-x;

      color: rgba(0,0,0,.5);
    }

    .navbar .divider-vertical {
      background-color: #000;
      border-right: 1px solid #cccccc;
    }

    .navbar .nav .active > a, .navbar .nav .active > a:hover {
      background-color: #a6c471;
      color: #000000;
    }

    .navbar .brand {
      color: #000000;
      font-size: 28px;
      font-weight: 200;
      text-shadow: 0 1px 0 #cccccc;
    }

    .navbar .nav > li > a {
      color: #000000;
      text-shadow: 0 1px 0 #cccccc;
      padding: 15px 12px;
    }

    .navbar .nav > li > a:hover {
      color: #909090;
    }

    .thumb-with-caption {
      display: inline-block;
      background: #f5f5f5;
    }

    .thumb-with-caption p {
      margin: 0;
      padding-top: 0.5em;
    }

    .thumb-with-caption small {
      width: 100%;
      text-align: right;
      display: inline-block;
      color: #999;
    }

    .marketing .span12 {
      text-align: center;
      /* background-color: #f6b340; */
    }

    .marketing .span3 {
      margin-top: 10px;
      margin-bottom: 0;
    }

    .marketing .btn {
      margin-bottom: 10px;
      margin-top: 0;
    }

    .marketing a {
      text-decoration: none;
      color: #5a5a5a;
    }

    .marketing a:hover {
      color: #909090;
    }

    .marketing .badge {
        font-size: 18;
        padding: 5px;
    }

    .features .span10 {
      /* background-color: #dddddd; */
      margin-bottom: 10px;
    }

    .features h3 {
      color: #ffffff;
      /* background-color: #e64a1c; */
      background-color: #77a62b;
      text-indent: 10px;
    }

    .socialist {
        padding-top: 10px;
        padding-bottom: 0;
    }

    .socialist a {
        color: #000000;
    }

    .socialist a:hover {
        text-decoration: none;
        color: #909090;
    }

    .img-polaroid {
        padding: 5px;
    }

    .reg-form {
      text-align: center;
    }

    .footer {
      background-color: #77a62b;
      background-image: -moz-linear-gradient(top, #77a62b, #a6c471);
      background-image: -ms-linear-gradient(top, #77a62b, #a6c471);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#77a62b), to(#a6c471));
      background-image: -webkit-linear-gradient(top, #77a62b, #a6c471);
      background-image: -o-linear-gradient(top, #77a62b, #a6c471);
      background-image: linear-gradient(top, #77a62b, #a6c471);
      background-repeat: repeat-x;
      color: #000;
      text-shadow: 0 1px 0 #cccccc;
    }

    .footer .span3 {
      padding-top: 15px;
      padding-bottom: 10px;
      text-align: center;
    }

    .footer a {
      color: #000;
    }

    .footer a:hover {
      text-decoration: none;
    }

    .footer i {
      letter-spacing: 5px;
    }

    .footer .copyright {
        margin: 0;
    }

    .features p {
      padding-bottom: 5px;
    }

    .features a.thumbnail {
      display: block;
      padding: 4px;
      line-height: 20px;
      border: 0 solid #fff;
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;
      -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.055);
         -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.055);
              box-shadow: 0 0 0 rgba(0, 0, 0, 0.055);
      -webkit-transition: all 0.2s ease-in-out;
         -moz-transition: all 0.2s ease-in-out;
           -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
    }

    .features a.thumbnail:hover,
    .features a.thumbnail:focus {
      border-color: #ffffff;
      -webkit-box-shadow: 0 0 0 rgba(0, 105, 214, 0.25);
         -moz-box-shadow: 0 0 0 rgba(0, 105, 214, 0.25);
              box-shadow: 0 0 0 rgba(0, 105, 214, 0.25);
    }

    .class-list dt {
      font-size: 18px;
    }

    /* Carousel customization */
    .carousel {
      margin-bottom: 15px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 150px;
      text-shadow: 0 2px 2px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 450px;
    }

   .carousel img {
      top: 0;
      left: 0;
      min-width: 100%;
      height: 450px;
    }

    .carousel-caption {
      background-color: transparent;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
      margin-bottom: 20px;
    }

    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 2px 2px rgba(0,0,0,.4);
    }

    .carousel-caption .btn {
      margin-top: 10px;
    }

    .gap-right {
        margin-right: 15px;
    }
    .gap-left {
        margin-left: 25px;
    }

    .lead li {
        line-height: 1.25;
    }
